---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>building / thomasprada</title>
    <link rel="icon" href="/assets/images/resources/favicon.png" type="image/png">
    <link rel="stylesheet" href="fugg2.css">  
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
</head>

<body>
    <script>
        if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.querySelector('body').classList.add('theme-dark')
        }
    </script>

    <div id="menu-overlay">

      {% include nav.html %}

      <div class="menu-content">
      </div>

    </div>

    <button id="menu-button" class="menu-button" onclick="toggleMenu()">[ MENU ]</button>
    
    <main class="content">
        <div class="page-content">
          <div class="subpage-intro">
            <div class="content-header">
              <h1 class="page-title">building.</h1>
              <img src="/assets/images/resources/building.png" alt="Cube" class="page-icon">
            </div>

            <div class="subhome-description">
              <p class="subhome-description-p">
                  This is some sample text. About what I what I want to write here, not sure what but  something.  Maybe about a small open to what I want to say and make of this space. And maybe you could have something here to talk about what I’ll be talking about. Feel free to explore and find something 
              </p>
            </div>
            <div class="line sub"></div>
            <div class="line dark"></div>
          </div>

          <div class="latest">
            <div class="line inv"></div>

            <h2 class="subtitle">LATEST</h2> 
            {% assign sorted_building = site.building | sort: 'date' | reverse %}
            {% if sorted_building %}
                {% assign latest_post = sorted_building.first %}
                <div class="latest-post">
                    <a class="latest-post-title" href="{{ latest_post.url | prepend: site.baseurl }}">{{ latest_post.title }}</a>
                    <time class="latest-post-time" datetime="{{ latest_post.date | date_to_xmlschema }}">{{ latest_post.date | date: "%B %d, %Y" }}</time>
                    <!-- <time class="latest-post-time" datetime="{{ latest_post.date | date_to_xmlschema }}">algorithm ({{ latest_post.date | date: "%d  %m  %Y"  }})</time> -->
                    <p class="latest-post-p">{{ latest_post.excerpt | strip_html | truncatewords: 50, "..." }}</p>
                    <p class="latest-post-read-more"><a href="{{ latest_post.url | prepend: site.baseurl }}">Read more ↩</a></p>
                </div>
            {% endif %}
            <div class="line sub"></div>
            <div class="line dark"></div>
          </div>

          <div class="topics">
            <div class="line inv"></div>

            <h2 class="subtitle">SEARCH BY TOPIC</h2>   
  
            {% assign all_tags = "" | split: "," %}
  
            {% for post in site.building %}
            {% for tag in post.tags %}
                {% unless all_tags contains tag %}
                {% assign all_tags = all_tags | push: tag %}
                {% endunless %}
            {% endfor %}
            {% endfor %}
  
            {% assign sorted_tags = all_tags | sort %}
  
            <div class="section-tags">
            {% for tag in sorted_tags %}
                {% unless forloop.first %}<span class="muted">/</span>{% endunless %}
                <a href="/tag/{{ tag | slugify }}" class="internal-link">{{ tag }}</a>
            {% endfor %}
            </div>
            <div class="line sub"></div>
            <div class="line dark"></div>
          </div>
            
          <div class="all">
            <div class="line inv"></div>
            <h2 class="subtitle">ALL PROJECTS</h2>
            <section class="posts">
              <ul class="posts-ul">
                  {% assign sorted_building = site.building | sort: 'date' | reverse %}
                  {% for post in sorted_building %}
                  <li class="all-post-item">
                      <div class="post-meta">
                          <time class="all-post-time" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d-%m-%Y" }}</time>
                      </div>
                      <div class="post-content">
                          <a class="all-post-item-title" href="{{ post.url }}">{{ post.title }}</a>
                          <p class="all-post-description">{{ post.description | strip_html | truncatewords: 50, "..." }}</p>
                      </div>
                  </li>
                  {% endfor %}
              </ul>
          </section>
          
            <div class="line sub"></div>
            <div class="line dark"></div>
          </div>
        </div>
    </main> 

    <footer>
      <div class="footer-line"></div> <!-- Line at the top of the footer -->
      <div class="footer-info">
          <div class="info-item">
              <img src="/assets/images/resources/lightestemptyball.svg" alt="Icon" class="info-icon_1">
              <p>4°36'17.8"N 74°03'16.9"W</p>
          </div>
          <div class="info-item">
              <img src="/assets/images/resources/lightestball.svg" alt="Icon" class="info-icon_2">
              <p id="bogota-weather">Bogotá --°C, --:--</p>
          </div> 
      </div>
      <div class="footer-bottom">
          <img src="/assets/images/resources/POSLIGHTGREY.png" alt="Pattern" class="footer-image">
          <div class="footer-text">
              <span class="year">mmxxiv</span>
              <span class="name">ThomasPrada.</span>
          </div>
      </div>
  </footer>

    <button id="theme-toggle">DARK MODE</button>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="click.js"></script>
    <script src="gsapscroll.js"></script>

    <script>
        var darkModeToggle = document.querySelector("#theme-toggle");

        const lightThemeImages = {
          "icon1": "/assets/images/resources/lightestemptyball.svg",
          "icon2": "/assets/images/resources/lightestball.svg",
          "footericon": "/assets/images/resources/POSLIGHTGREY.png",
          "pageicon": "/assets/images/resources/building.png"
        };

        const darkThemeImages = {
          "icon1": "/assets/images/resources/darkestemptyball.svg",
          "icon2": "/assets/images/resources/darkestball.svg",
          "footericon": "/assets/images/resources/POSDARKGREY2.png",
          "pageicon": "/assets/images/resources/building_white.png"
        };

        function toggleTheme() {
          document.body.classList.toggle("theme-dark");
          updateThemeState();
          updateButtonLabel();

          const isDarkMode = document.body.classList.contains("theme-dark");
          const themeImages = isDarkMode ? darkThemeImages : lightThemeImages;
          document.querySelector('.info-icon_1').src = themeImages.icon1;
          document.querySelector('.info-icon_2').src = themeImages.icon2;
          document.querySelector('.footer-image').src = themeImages.footericon;
          document.querySelector('.page-icon').src = themeImages.pageicon;
          console.log("Theme toggled:", document.body.classList.contains("theme-dark") ? "Dark Mode" : "Light Mode");
        }

        function updateThemeState() {
          let isDarkMode = document.body.classList.contains("theme-dark");
          let theme = isDarkMode ? "dark" : "light";
          localStorage.setItem("theme", theme);
          darkModeToggle.setAttribute("aria-checked", isDarkMode.toString());
          console.log("Theme updated in localStorage to:", theme);
        }

        function updateButtonLabel() {
          darkModeToggle.textContent = `${document.body.classList.contains("theme-dark") ? 'Light' : 'Dark'} Mode`;
        }

        function initializeTheme() {
          let isDarkMode = document.body.classList.contains("theme-dark");
          darkModeToggle.setAttribute("aria-checked", isDarkMode.toString());
          updateButtonLabel();

          const themeImages = isDarkMode ? darkThemeImages : lightThemeImages;
          document.querySelector('.info-icon_1').src = themeImages.icon1;
          document.querySelector('.info-icon_2').src = themeImages.icon2;
          document.querySelector('.footer-image').src = themeImages.footericon;
          document.querySelector('.page-icon').src = themeImages.pageicon;
          console.log("Theme initialized:", isDarkMode ? "Dark Mode" : "Light Mode");
        }

        darkModeToggle.addEventListener("click", toggleTheme);
        document.addEventListener('DOMContentLoaded', initializeTheme);

        window.addEventListener('keydown', function(e) {
            if (document.activeElement.tagName === 'INPUT' || document.activeElement.tagName === 'TEXTAREA') {
              return;
            }
            if (e.key === 'd' || e.key === 'D') {
              toggleTheme();
            }
        });

        initializeTheme();
      </script>
      
    <script src="mobilemenu.js"></script>
    <script src="weather.js"></script>


</body>
</html>