/* assets/css/style.css */

/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* (000) - SETUP AND FONTS */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */


@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --text-color: #9b9b99;
    --lighter-text-color: #bcbcbc;

    --backup-text-color-light: #676767;
    --backup-text-color-light-v2: #8D8D8D;
    --backup-text-color-light-v3: #B3B3B3;
    --backup-text-color-light-v4: #E0E0E0;
    --backup-text-color-light-v5: #F5F5F5;

    --background-color-light: #ffffff;
    --main-accent-light: #B296FF;   
    --secondary-accent-light: #B296FF;
    --contrast-color-light: #000000;
    --lightest-text-light: #E0E0E0;
    --welcome-gif-light: url('/assets/images/resources/FINAL_V4.gif');
    --empty-ball-light: url('/assets/images/resources/emptyblackball.svg');
    --ball-light: url('/assets/images/resources/blackball.svg');


    --backup-text-color-dark: #8C8B8B;
    --backup-text-color-dark-v2: #6D6D6D;
    --backup-text-color-dark-v3: #4E4E4E;
    --backup-text-color-dark-v4: #2F2F2F;
    --backup-text-color-dark-v5: #1A1A1A;

    --background-color-dark: #0F0F0F;
    --text-color-dark: #ffffff;
    --main-accent-dark: #B296FF;
    --secondary-accent-dark: #B296FF;
    --contrast-color-dark: #FFFFFF;
    --lightest-text-dark: #232323;

    --welcome-gif-dark: url('/assets/images/resources/FINAL_V1_DARK.gif');
    --empty-ball-dark: url('/assets/images/resources/emptywhiteball.svg');
    --ball-dark: url('/assets/images/resources/whiteball.svg');

}

:root,.theme-light{
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --backup-text-color: var(--backup-text-color-light);
    --backup-text-color-v2: var(--backup-text-color-light-v2);
    --backup-text-color-v3: var(--backup-text-color-light-v3);
    --backup-text-color-v4: var(--backup-text-color-light-v4);
    --backup-text-color-v5: var(--backup-text-color-light-v5);
    --main-accent: var(--main-accent-light);
    --secondary-accent: var(--secondary-accent-light);
    --contrast-color: var(--contrast-color-light);
    --lightest-text: var(--lightest-text-light);
    --welcome-gif: var(--welcome-gif-light);
    --empty-ball: var(--empty-ball-light);
    --ball: var(--ball-light);
}

.theme-dark {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --backup-text-color: var(--backup-text-color-dark);
    --backup-text-color-v2: var(--backup-text-color-dark-v2);
    --backup-text-color-v3: var(--backup-text-color-dark-v3);
    --backup-text-color-v4: var(--backup-text-color-dark-v4);
    --backup-text-color-v5: var(--backup-text-color-dark-v5);
    --main-accent: var(--main-accent-dark);
    --secondary-accent: var(--secondary-accent-dark);
    --contrast-color: var(--contrast-color-dark);
    --lightest-text: var(--lightest-text-dark);
    --welcome-gif: var(--welcome-gif-dark);
    --empty-ball: var(--empty-ball-dark);
    --ball: var(--ball-dark);
}

@font-face{
    font-family: 'GeistMono';
    src: url('geist_font/GeistMono-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url('geist_font/GeistMono-Bold.woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url('geist_font/GeistMono-Light.woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url('geist_font/GeistMono-Medium.woff2');
    font-weight: 500;
    font-style: normal;
}

.crimson-pro {
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

blockquote {
    border-left: 0.2px solid var(--lightest-text);
    padding-left: 20px; 
    color: var(--backup-text-color-v3);
    margin: 20px 0; 
}

blockquote p{
    color: var(--backup-text-color-v3)
}

/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* (001) - HOMEPAGE */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */

.gif-home {
    max-width: 100%;
    max-height: 80vh;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30vh;
}

.gif-content {
    margin-top: 10vh;
    min-height: 100vh;
    text-align: left;
}

.sidebar {
    width: 200px;
    margin-left: 8vw;
}

nav.sidebar .home-sidebar-item a {
    color: inherit;
    text-decoration: none;
}

/* ul */
.home-sidebar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'GeistMono', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

/* li */
.home-sidebar-item {
    position: relative;
    margin-bottom: 10px;
    color: rgb(144, 144, 144);
    transition: background-color 0.3s, color 0.3s;
}

.home-sidebar-item a {
    color: inherit;
    text-decoration: none;
}

.home-sidebar-item a:hover{
    color: var(--contrast-color);
    text-decoration: none;
}

.home-sidebar-item::before {
    content: '';
    position: absolute;
    left: 5.2%; 
    top: 50%;
    transform: translateY(-50%) scale(0);
    width: 8px;
    height: 8px;
    background-image: var(--empty-ball);
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.home-sidebar-item:hover::before {
    opacity: 1;
    transform: translateY(-50%) scale(1);
}

.home-sidebar-item:hover {
    color: var(--contrast-color);
}


/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* (002) - DESIGN BASICS */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */

::-moz-selection { 
    color: red;
    background: yellow;
  }
  
::selection {
color: var(--background-color);
background: var(--main-accent);
}


/* ------------------------------------------------------------------------- */
/* Move Later */


.post-header {
    margin-bottom: 8vh;
    margin-top: 5vh;
}

.post-meta-container {
    display: flex;
}

.post-meta-container-left-side {
    flex: 1;
    align-self: flex-end;
    padding-right: 20px;
}

.post-meta-container-right-side {
    flex: 2;
    align-self: flex-end;
    padding-left: 20px;
    /* background-color: #f0f0f0; */
}

.vertical-line {
    border-left: 1px solid var(--lightest-text); /* Adjust thickness and color as needed */
}

.post-meta {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.post-meta-date {
    margin-bottom: 2vh;
}

.title-post-meta-p {
    text-align: justify;
    margin-top: 0;
    margin-bottom: 0;
    /* font-family: 'GeistMono', sans-serif; */
    /* font-family: 'Crimson Pro', serif; */
    font-weight: 400;
    color: var(--backup-text-color-v4);
    font-size: 14px;
    /* text-transform: uppercase; */
    transition: color 0.3s ease;
}

/* Yes */

.fourofour-text p{
    text-align: center;
    color: var(--contrast-color);
}

.page-content .fourofour-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0vh;
}

body {
    background-color: var(--background-color);
    font-family: 'Inter', sans-serif;
}

p {
    font-weight: 400;
    /* color: #9b9b9b; */
    color: var(--backup-text-color)
}

li {    
    color: var(--backup-text-color);
}

a:-webkit-any-link {
    color: var(--contrast-color);
    cursor: pointer;
    transition: color 0.3s ease;
} 

a:-webkit-any-link:hover {
    color: var(--main-accent);
    cursor: pointer;
    text-decoration: underline;
}

a:any-link{
    color: var(--contrast-color);
    cursor: pointer;
    transition: color 0.3s ease;
}

a:any-link:hover{
    color: var(--main-accent);
    cursor: pointer;
    text-decoration: underline;
}

.content {
    margin-top: 10vh;
    min-height: 100vh;
    text-align: left;
}

footer {
    padding-top: 20px;
    margin-top: 35vh;
}

.footer-line {
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 1vh;
    height: 0.5px;
    background-color: var(--lightest-text);
}

.footer-info p{
    color: var(--lightest-text);
}

.footer-info{
    margin-left: 8vw;
    text-align: left;
    font-size: 12px;
    color: var(--contrast-color);
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.footer-image {
    width: 35px;
    height: auto;
    margin-left: 8vw;
}

.footer-text {
    text-align: right;
    display: flex;
    flex-direction: column;
    margin-right: 8vw;
    font-size: 10px;
    color: var(--lightest-text);
}

.footer-text .year,
.footer-text .name {
    display: block;
}

.footer-text .name {
    font-weight: bold;
}

.info-item {
    display: flex;
    align-items: center;
}

.info-icon_1 {
    margin-right: 5px;
    width: 10px;
    height: 10px;
}

.info-icon_2 {
    margin-right: 5px;
    width: 10px;
    height: 10px;
}

.info-item p {
    margin: 0;
}

#bogota-weather {
    font-weight: bold;
}

#theme-toggle {
    position: fixed;
    bottom: 0vh;
    left: 0vw;
    z-index: 1000;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    font-family: 'GeistMono', sans-serif;
    font-size: 10px;
    text-decoration: underline;
    text-transform: uppercase;
    overflow: hidden;
    background-image: var(--ball);
    background-size: 5px 5px;
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 5px;
}

#theme-toggle:hover {
    color: var(main-accent);
}



/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* (003) - HUB PAGES */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */

.stickysidebar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8vw;
}

/* ul */
.stickysidebar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'GeistMono', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

/* li */
.stickysidebar-list-item {
    position: relative;
    margin-bottom: 10px;
    color: rgb(144, 144, 144);
    transition: background-color 0.3s, color 0.3s;
}

.stickysidebar-list-item a{
    color: inherit;
    text-decoration: none;
}

.stickysidebar-list-item::before {
    content: '';
    position: absolute;
    left: 6.4%; 
    top: 50%;
    transform: translateY(-50%) scale(0);
    /* width: 16px;
    height: 16px; */
    width: 8px;
    height: 8px;
    background-image: var(--empty-ball);
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.stickysidebar-list-item:hover::before {
    opacity: 1;
    transform: translateY(-50%) scale(1);
}

.stickysidebar-list-item:hover {
     color: var(--contrast-color)
}

.stickysidebar-list-item a:hover {
    text-decoration: none;
    /* text-decoration: underline; */
     color: var(--contrast-color);
}

.stickysidebar-list-item a.active {
    font-weight: bold;
    color: var(--contrast-color);
}

.stickysidebar ul li a.active::before {
    content: '';
    position: absolute;
    left: 6.4%; 
    top: 50%;
    transform: translateY(-50%);
    /* width: 16px;
    height: 16px; */
    width: 8px;
    height: 8px;
    background: var(--ball) center center;
    background-size: cover;
    transition: opacity 0.4s ease;
    opacity: 1;
}

.stickysidebar ul li a.active:hover::before {
     opacity: 0;
}


.page-content {
    margin-right: 8vw;
    margin-left: 30vw;
    padding-top: 8vh;
    padding-bottom: 20px;
}

.page-content img {
    display: block;
    width: 80%;
    max-width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8vh;
    margin-top: 8vh;
}


.page-title {
    /* text-transform: uppercase; */
    font-size: 50px;
    margin: 0;
    color: var(--contrast-color);
}

.subpage-intro:hover .dark{
    transform: scaleX(1);
}

.subpage-intro:hover .subhome-description-p{
    color: var(--contrast-color);
}

.subhome-description {
    text-align: justify;
    margin-bottom: 15vh;
}

.subhome-description-p{
    text-align: justify;
    color: var(--backup-text-color-v2);
    margin-bottom: 15vh;
    transition: color 0.3s ease;
}

.subtitle {
    font-family: 'GeistMono', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--backup-text-color);
    text-align: left;
    transition: color 0.3s ease;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8vh;
}

.content-header img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
    width: 80px;
}

.page-icon {
    max-width: 100% !important;
    height: auto !important;
    display: block !important;
    margin-bottom: 20px !important;
    width: 70px !important;
}

.div-line {
    border-bottom: 1.4px dotted var(--lightest-text);
    margin-bottom: 8vh;
    height: 0.1px;
}

.line {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: left;  
}

.sub {
    border-bottom: 0.1px solid var(--lightest-text);
    height: 0.1px;
}

.contrast {
    border-bottom: 0.1px solid var(--lightest-text);
    height: 0.1px;
    margin-top: 12px;
}

.inv {
    border-bottom: 0.5px solid var(--background-color);
    height: 0.1px;
}

.dark {
    border-bottom: 0.3px solid var(--contrast-color);
    transform: scaleX(0); 
    transition: transform 0.6s ease-in-out; 
}

.topics .subtitle{
    transition: color 0.3s ease;
}

.topics:hover .dark{
    transform: scaleX(1); 
}

.topics:hover .subtitle{
    color: var(--contrast-color);
}

.topics:hover .muted{
    color: var(--backup-text-color);
}

.topics:hover .section-tags a{
    color: var(--backup-text-color);
}

.section-tags a:hover{
    color: var(--contrast-color);
}

.post-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.post-list-item {
    padding-left: 0px;
    margin-bottom: 10px;
    background-color: white;
    color: rgb(144, 144, 144);
}

.latest-post{
    margin-bottom: 15vh;
}

.latest-post a{
    text-decoration: none;
    color: var(--backup-text-color-v2);
    transition: color 0.3s ease;
}

.latest:hover .dark{
    transform: scaleX(1);
}

.latest:hover .subtitle{
    color: var(--contrast-color);
}

.latest:hover .latest-post a{
    color: var(--contrast-color);
}

.latest:hover p {
    color: var(--backup-text-color);
}

.latest:hover .latest-post-time {
    color: var(--main-accent);
}

.latest-post-title {
    text-decoration: none;
    /* font-weight: bold; */
    color: var(--backup-text-color-v2);
    transition: color 0.3s ease;
}

.latest-post-p {
    text-align: justify;
    margin-top: 1vh;
    margin-bottom: 3vh;
    /* font-family: 'GeistMono', sans-serif; */
    /* font-family: 'Crimson Pro', serif; */
    font-weight: 400;
    color: var(--backup-text-color-v3);
    font-size: 14px;
    /* text-transform: uppercase; */
    transition: color 0.3s ease;
}

.latest-post-time{
    /* font-weight: 400; */
    font-family: 'GeistMono', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    color: var(--backup-text-color-v3);
    transition: color 0.3s ease;
    margin-bottom: 2vh;
}

.latest-post-read-more {
    text-decoration: none;
    color: var(--contrast-color);
    font-weight: bold;
    transition: color 0.3s ease;
}

.latest-post-read-more a{
    color: var(--backup-text-color-v2);
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 14px;
}

.latest-post-read-more:hover a{
    /* background-color: var(--contrast-color); */
    color: wheat;
}

.latest-post-read-more:hover{
    /* background-color: var(--contrast-color); */
    color: wheat;
}

.section-tags{
    margin-bottom: 15vh;
}

.section-tags a{
    color: var(--backup-text-color-v2);
    transition: color 0.3s ease;
}

.section-tags a:hover{
    color: var(--contrast-color);
}

.topics .internal-link:hover {
    color: var(--contrast-color);
    /* Additional styles */
}

.topics .section-tags .internal-link:hover {
    color: var(--contrast-color);
    /* Additional styles */
}

.internal-link {
    transition: color 0.3s ease;
}

.internal-link:hover {
    color: var(--main-accent);
}

.muted{
    transition: color 0.3s ease;
    color: var(--backup-text-color-v2);
}

/* .posts li {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
} */

.posts li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.post-content {
    flex-grow: 1;
}

.posts-ul {
    padding: 0;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.all-post-item{
    color: var(--backup-text-color-v2);
    transition: color 0.3s ease;
}

.all-post-item a{
    color: var(--backup-text-color-v2);
    margin-left: auto;
}

.all-post-item-title {
    text-decoration: none;
    list-style-type: none;
    transition: color 0.3s ease;
}

.all-post-time{
    font-family: 'GeistMono', sans-serif;
    font-size: 12px;
    color: var(--backup-text-color-v4);
    padding-right: 1rem;
    white-space: nowrap;
    font-variant-numeric: tabular-nums;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.post-meta {
    text-align: left; /* Aligns the content within post-meta to the left */
}

.all-post-item-title:hover {
    color: var(--contrast-color);
    /* color: var(--main-accent); */
    text-decoration: underline;
}

.all-post-item:hover .all-post-time{
    /* color: var(--main-accent); */
    color: var(--secondary-accent);
}

.all-post-item:hover .all-post-description{
    color: var(--backup-text-color);
    /* color: red;
    color: var(--contrast-color); */
}

.all-post-item:hover .all-post-item-title{
    color: var(--contrast-color);
    /* color: var(--main-accent); */
}

.all:hover .all-post-item a{
    color: var(--backup-text-color);
}

.all:hover .all-post-item{
    color: var(--backup-text-color);

}

.all:hover .dark{
    transform: scaleX(1);
}

.all:hover .subtitle{
    color: var(--contrast-color);
}

/* .posts-ul .all-post-item a:hover {
    color: var(--contrast-color);
} */

.posts-ul .all-post-item:hover a {
    color: var(--contrast-color);
}

.all-post-description {
    font-size: 12px;
    color: var(--backup-text-color-v3);
    display: block;
    margin-top: 0.5vh;
    margin-bottom: 6vh;
    transition: color 0.3s ease;
}

.contact{
    font-family: 'GeistMono', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: lowercase;
    color: var(--contrast-color);
    text-align: left;
    margin-top: 0;
    margin-bottom: 2vh;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* (004) - POST PAGE & MARKDOWN BASICS (THINK OBSIDIAN SETTINGS) */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */

.breadcrumbs{
    font-family: 'GeistMono', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: var(--backup-text-color-v3);
    text-transform: uppercase;
    text-align: left;
}

.breadcrumbs a{
    color: var(--backup-text-color-v3);
}

.breadcrumbs a:hover {
    color: var(--main-accent);
}

.footnotes{
    border-top: 0.2px solid var(--lightest-text);
    margin-top: 5vh;
}

.footnotes ol{
    margin-top: 5vh;
}


.footnote{
    font-family: 'GeistMono', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: var(--main-accent);
    transition: text-decoration 0.3s, background-color 0.3s, color 0.3s;
    text-decoration: none;
    padding-left: 2px;
}

.footnote:hover{
    color: var(--secondary-accent);
    text-decoration: underline;
}

.reversefootnote{
    font-weight: 400;
    font-size: 14px;
    color: var(--main-accent);
    text-decoration: none;
    transition: text-decoration 0.3s, background-color 0.3s, color 0.3s;
}

.reversefootnote:hover{
    color: var(--secondary-accent);
    text-decoration: underline;
}

/* .meta{
    margin-bottom: 0vh;
    display: block;
    align-items: right;
} */

/* .meta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
} */

.date-post{
    font-size: 14px;
    margin: 0;
    color: var(--backup-text-color-v3);
}

.tags-holder{
    font-size: 14px;
    color: var(--backup-text-color-v3);
}

.tags-holder a{
    font-size: 14px;
    color: var(--backup-text-color-v3);
}

h1 {
    font-size: 50px;
    margin: 0;
    color: var(--contrast-color);
}

h2 {
    font-size: 30px;
    font-weight: 400;
    font-family: 'GeistMono', sans-serif;
    text-transform: uppercase;
    margin-top: 12vh;
    color: var(--contrast-color);
}

h3 {
    font-size: 25px;
    font-family: 'GeistMono', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 8vh;
    color: var(--contrast-color);
}

h4 {
    font-size: 20px;
    font-weight: 400;
    font-family: 'GeistMono', sans-serif;
    text-transform: uppercase;
    margin-top: 8vh;
    color: var(--contrast-color);
}

h5 {
    font-size: 16px;
    font-weight: 400;
    font-family: 'GeistMono', sans-serif;
    text-transform: uppercase;
    margin-top: 8vh;
    color: var(--contrast-color);
}

h6 {
    font-size: 14px;
    font-weight: 400;
    font-family: 'GeistMono', sans-serif;
    text-transform: uppercase;
    margin-top: 8vh;
    color: var(--contrast-color);
}

/* code {
    color: var(--contrast-color);
    display: block;
    max-width: 100%;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
} */

/* Style for inline code */
code {
    color: var(--contrast-color); /* Inline code text color */
    background-color: var(--backup-text-color-v4); /* Inline code background color */
    padding: 2px 4px; /* Padding for inline code */
    border-radius: 4px; /* Rounded corners for inline code */
    font-size: 90%; /* Slightly smaller font size */
}

/* Style for code blocks */
pre code {
    display: block; /* Ensure it takes full width */
    padding: 10px; /* Padding for code block */
    color: var(--contrast-color); /* Code block text color */
    background-color: var(--backup-text-color-v5); /* Code block background color */
    border-radius: 6px; /* Rounded corners for code block */
    overflow-x: auto; /* Horizontal scroll for long lines */
    font-size: 85%; /* Adjust font size */
}

.testing {
    text-decoration: none;
    list-style-type: none;
    color: #9b9b9b;
    transition: color 0.3s ease;
}


/* --------------------- */
/* newhere.html*/




/*

@font-face {
    font-family: 'GeistMono';
    src: url(_pages\geist_font\GeistMono-SemiBold.woff2) format('woff2');
    src: url(_pages\geist_font\GeistMono-SemiBold.woff) format('woff');
    font-weight: semibold;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url(_pages\geist_font\GeistMono-Thin.woff2) format('woff2');
    src: url(_pages\geist_font\GeistMono-Thin.woff) format('woff');
    font-weight: thin;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url(_pages\geist_font\GeistMono-UltraBlack.woff2) format('woff2');
    src: url(_pages\geist_font\GeistMono-UltraBlack.woff) format('woff');
    font-weight: ultrablack;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url(_pages\geist_font\GeistMono-UltraLight.woff2) format('woff2');
    src: url(_pages\geist_font\GeistMono-UltraLight.woff) format('woff');
    font-weight: ultralight;
    font-style: normal;
} */

/* ----------------------------------------------------------------------------------------------------------------------------------------- */
/* (005) - MOBILE */
/* ----------------------------------------------------------------------------------------------------------------------------------------- */

@media (min-width: 601px) {
    /* Styles for screens with a minimum width of 601px (devices larger than phones) */
    /* #menu-overlay   {
        display: none;
    } */

    .menu-button {
        display: none; 
    }

    .menu-content {
        display: none;
    }
}

@media (max-width: 600px) {

    body {
        background-color: var(--background-color);
    }

    .gif-home {
        max-width: 300%;
        height: auto;
        display: block;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25vh;
    }

    .gif-content {
        margin: 0;
        min-height: 100vh;
        overflow: hidden; 
        display: flex;  
        justify-content: center;  
        align-items: center;
    }

    .sidebar{
        margin-left: 10vw;
    }

    .home-sidebar-item::before {
        content: '';
        position: absolute;
        left: 5.2%;
        top: 50%;
        transform: translateY(-50%) scale(0);
        width: 8px;
        height: 8px;
        background-image: var(--empty-ball);
        background-size: cover;
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .home-sidebar-item {
        position: relative;
        margin-bottom: 10px;
        color: rgb(144, 144, 144);
        transition: background-color 0.3s, color 0.3s;
    }

    .stickysidebar {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 10vw;
    }

    /* ul */
    .stickysidebar-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-family: 'GeistMono', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
    }

    /* li */
    .stickysidebar-list-item {
        position: relative;
        margin-bottom: 10px;
        color: rgb(144, 144, 144);
        transition: background-color 0.3s, color 0.3s;
    }

    .stickysidebar-list-item a{
        color: inherit;
        text-decoration: none;
    }

    .stickysidebar-list-item::before {
        content: '';
        position: absolute;
        left: 6.2%;
        top: 50%;
        transform: translateY(-50%) scale(0);
        width: 8px;
        height: 8px;
        background-image: var(--empty-ball);
        background-size: cover;
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .stickysidebar-list-item:hover::before {
        opacity: 1;
        transform: translateY(-50%) scale(1);
    }

    .stickysidebar-list-item:hover {
         color: var(--contrast-color)
    }

    .stickysidebar-list-item a:hover {
        text-decoration: underline;
        color: var(--contrast-color);
    }

    .stickysidebar-list-item a.active {
        font-weight: bold;
        color: var(--contrast-color);
    }

    .stickysidebar ul li a.active::before {
        content: '';
        position: absolute;
        left: 6.2%;
        top: 50%;
        transform: translateY(-50%);
        width: 8px;
        height: 8px;
        background: var(--ball) center center;
        background-size: cover;
        transition: opacity 0.4s ease;
        opacity: 1;
    }

    .stickysidebar ul li a.active:hover::before {
         opacity: 0;
    }

    /* ------------------------------------------- */
    /* Mobile Menu                                 */
    /* ------------------------------------------- */

    #menu-overlay {
        position: fixed;
        top: 0;
        left: -100%; /* Off-screen initially */
        width: 100%;
        height: 200%;
        background-color: var(--background-color); /* Semi-transparent background */
        transition: left 0.3s ease; 
        z-index: 999; /* Make sure it's on top */
    }

    .menu-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
    }
    
    .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        color: white;
    }

    #theme-toggle {
        position: fixed;
        bottom: 0vh;
        left: 0vw;
        z-index: 1000;
        padding: 10px 20px 10px 20px;
        cursor: pointer;
        background-color: var(--background-color);
        color: var(--text-color);
        border: none;
        font-family: 'GeistMono', sans-serif;
        font-size: 10px;
        text-decoration: underline;
        text-transform: uppercase;
        overflow: hidden;
        background-image: var(--ball);
        background-size: 5px 5px;
        background-repeat: no-repeat;
        background-position: 10px center;
        border-radius: 5px;
    }

    .menu-button {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000;
        padding: 10px 20px 10px 20px;
        cursor: pointer;
        background-color: var(--background-color);
        color: var(--text-color);
        border: none;
        font-family: 'GeistMono', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        overflow: hidden;
    }

    .content {
        margin-top: 10vh;
        min-height: 100vh;
        text-align: left;
    }

    .page-content{
        margin-left: 8vw;
    }

    .content-header img{
        max-width: 100%;
        height: auto;
        display: block;
        margin-top: 0;
        margin-bottom: 20px;
        margin-right: 0;
        margin-left: 0;
        width: 80px;
    }

    .page-icon {
        max-width: 60% !important;
        height: auto !important;
        display: block !important;
        margin-bottom: 20px !important;
        width: 40px !important;
    }

    .content-header {
        display: flex;
        justify-content: space-between;
        align-items: top;
        margin-bottom: 5vh;
    }

    .page-title {
        font-size: 25px;
        margin: 0;
        color: var(--contrast-color);
    }

    .latest:hover .dark{
        transform: scaleX(0);
    }
    
    .latest:hover .subtitle{
        color: var(--contrast-color);
    }
    
    .latest:hover .latest-post a{
        color: var(--contrast-color);
    }
    
    .latest:hover p {
        color: var(--backup-text-color);
    }
    
    .latest:hover .latest-post-time {
        color: var(--secondary-accent);
    }

    .latest-post{
        margin-bottom: 5vh;
    }

    p{
        font-size: 14px;
    }

    .subhome-description {
        text-align: justify;
        color: #9B9B9B;
        margin-bottom: 5vh;
    }

    .subhome-description-p {
        text-align: justify;
        color: var(--backup-text-color);
        margin-bottom: 0vh;
    }

    .subpage-intro:hover .dark{
        transform: scaleX(0);
    }
    
    .subpage-intro:hover .subhome-description-p{
        color: var(--backup-text-color);
    }

    .subtitle {
        font-family: 'GeistMono', sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: var(--contrast-color);
        text-align: left;
        margin-top: 5vh;
        margin-bottom: 1vh;
    }

    .latest-post .latest-post-title {
        font-size: 14px;
        text-decoration: none;
        color: var(--contrast-color);
        transition: color 0.3s ease;
        line-height: 0px;
    }

    .latest-post-time{
        font-size: 10px;
        display: block;
        color: var(--secondary-accent);
        transition: color 0.3s ease;
        margin-bottom: 1vh;
    }

    .latest-post-p {
        margin-top: 1vh;
        margin-bottom: 1vh;
        color: var(--backup-text-color);
        font-size: 10px;
        transition: color 0.3s ease;
    }

    .latest-post-read-more a{
        color: var(--contrast-color);
        font-weight: bold;
        transition: color 0.3s ease;
        font-size: 12px;
    }

    .section-tags{
        margin-bottom: 5vh;
        font-size: 14px;
    }

    .section-tags a{
        color: var(--backup-text-color);
        transition: color 0.3s ease;
        font-size: 14px;
    }

    .topics:hover .dark{
        transform: scaleX(0); 
    }
    
    .topics:hover .subtitle{
        color: var(--contrast-color);
    }
    
    .topics:hover .muted{
        color: var(--backup-text-color);
    }
    
    .topics:hover .section-tags a{
        color: var(--backup-text-color);
    }

    .muted {
        color: var(--backup-text-color);
        font-size: 14px;
    }

    .internal-link {
        color: #9b9b9b;
        transition: color 0.3s ease;
        font-size: 12px;
    }

    .posts li {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }

    .posts-ul {
        margin-bottom: 5vh;
    }

    .all:hover .all-post-item a{
        color: var(--contrast-color);
    }
    
    .all:hover .all-post-item{
        color: var(--contrast-color);
    
    }
    
    .all:hover .dark{
        transform: scaleX(0);
    }
    
    .all:hover .subtitle{
        color: var(--contrast-color);
    }

    .all-post-item a{
        color: var(--contrast-color);
    }

    .all-post-item-title {
        font-size: 14px;
        text-decoration: none;
        list-style: none;
        transition: color 0.3s ease;
    }

    .all-post-time{
        align-self: flex-start;
        font-size: 10px;
        white-space: nowrap;
        font-variant-numeric: tabular-nums;
        color: var(--secondary-accent);
        transition: color 0.3s ease;
    }

    .all-post-description {
        font-size: 10px;
        color: var(--backup-text-color);
        /* color: var(--backup-text-color-v3);
        display: block;
        margin-top: 0.5vh;
        margin-bottom: 6vh;
        transition: color 0.3s ease; */
    }

    .breadcrumbs{
        font-family: 'GeistMono', sans-serif;
        font-weight: 500;
        font-size: 10px;
        color: var(--backup-text-color-v3);
        text-transform: uppercase;
        text-align: left;
    }

    .tags-holder{
        font-size: 10px;
        color: var(--backup-text-color-v3);
    }

    .tags-holder a{
        font-size: 10px;
        color: var(--backup-text-color-v3);
    }

    .title-post-meta-p {
        font-weight: 400;
        color: var(--backup-text-color-v4);
        font-size: 10px;
        transition: color 0.3s ease;
    }

    .date-post{
        font-size: 10px;
        color: var(--backup-text-color-v3);
    }

    .page-content img {
      width: 100%;
      height: auto;
    }

    h1 {
        font-size: 25px;
        margin: 0;
        color: var(--contrast-color);
    }

    h2 {
        font-size: 18px;
        font-weight: 400;
        font-family: 'GeistMono', sans-serif;
        text-transform: uppercase;
        margin-top: 8vh;
        color: var(--contrast-color);
    }

    h3 {
        font-size: 16px;
        font-family: 'GeistMono', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 5vh;
        color: var(--contrast-color);
    }

    h4 {
        font-size: 14px;
        font-weight: 400;
        font-family: 'GeistMono', sans-serif;
        text-transform: uppercase;
        margin-top: 5vh;
        color: var(--contrast-color);
    }

    h5 {
        font-size: 12px;
        font-weight: 400;
        font-family: 'GeistMono', sans-serif;
        text-transform: uppercase;
        margin-top: 5vh;
        color: var(--contrast-color);
    }

    h6 {
        font-size: 10px;
        font-weight: 400;
        font-family: 'GeistMono', sans-serif;
        text-transform: uppercase;
        margin-top: 5vh;
        color: var(--contrast-color);
    }

    li {
        font-size: 12px;
    }

}
