/* assets/css/style.css */

:root {
    --text-color: #9b9b99;
    --lighter-text-color: #bcbcbc;
 
    --background-color-light: #ffffff;
    --main-accent-light: #260090;
    --secondary-accentlight: #B296FF;
    --contrast-color-light: #000000;
    --lightest-text-light: #E0E0E0;
    --welcome-gif-light: url('assets/images/resources/FINAL_V4.gif');
    --empty-ball-light: url('assets/images/resources/emptyblackball.svg');
    --ball-light: url('assets/images/resources/blackball.svg');

    --background-color-dark: #0F0F0F;
    --text-color-dark: #ffffff;
    --main-accent-dark: #FF6B00;
    --secondary-accent-dark: #FFC592;
    --contrast-color-dark: #FFFFFF;
    --lightest-text-dark: #232323;

    --welcome-gif-dark: url('assets/images/resources/FINAL_V1_DARK.gif');
    --empty-ball-dark: url('assets/images/resources/emptywhiteball.svg');
    --ball-dark: url('assets/images/resources/whiteball.svg');

}

:root,.theme-light{
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --main-accent: var(--main-accent-light);
    --secondary-accent: var(--secondary-accentlight);
    --contrast-color: var(--contrast-color-light);
    --lightest-text: var(--lightest-text-light);
    --welcome-gif: var(--welcome-gif-light);
    --empty-ball: var(--empty-ball-light);
    --ball: var(--ball-light);
}

.theme-dark {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --main-accent: var(--main-accent-dark);
    --secondary-accent: var(--secondary-accent-dark);
    --contrast-color: var(--contrast-color-dark);
    --lightest-text: var(--lightest-text-dark);
    --welcome-gif: var(--welcome-gif-dark);
    --empty-ball: var(--empty-ball-dark);
    --ball: var(--ball-dark);
}

/* .darkmode{
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --main-accent: var(--main-accent-dark);
    --secondary-accent: var(--secondary-accent-dark);
    --contrast-color: var(--contrast-color-dark);
    --welcome-gif: var(--welcome-gif-dark);
    --empty-ball: var(--empty-ball-dark);
    --ball: var(--ball-dark);
}


[data-theme="light"] {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --main-accent: var(--main-accent-light);
    --secondary-accent: var(--secondary-accentlight);
    --contrast-color: var(--contrast-color-light);
    --welcome-gif: var(--welcome-gif-light);
    --empty-ball: var(--empty-ball-light);
    --ball: var(--ball-light);
} */

/* [data-theme="dark"] {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --main-accent: var(--main-accent-dark);
    --secondary-accent: var(--secondary-accent-dark);
    --contrast-color: var(--contrast-color-dark);
    --welcome-gif: var(--welcome-gif-dark);
    --empty-ball: var(--empty-ball-dark);
    --ball: var(--ball-dark);
}  */

@font-face{
    font-family: 'GeistMono';
    src: url('geist_font/GeistMono-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url('geist_font/GeistMono-Bold.woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url('geist_font/GeistMono-Light.woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url('geist_font/GeistMono-Medium.woff2');
    font-weight: 500;
    font-style: normal;
}


/* --------------------- */






body {
    background-color: var(--background-color);
    font-family: 'Inter', sans-serif;
}

p {
    color: #9b9b9b;
}

li {
    color: #9b9b9b;
}

.gif-home {
    max-width: 100%;
    max-height: 80vh;
    height: auto;
    display: block;
    margin-left: auto;    
    margin-right: auto;   
    margin-bottom: 30vh;  
}

.sidebar {
    width: 200px;
    margin-left: 8vw;
}

/* ul */
.home-sidebar {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* li */
.home-sidebar-item {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    color: rgb(144, 144, 144);
    transition: background-color 0.3s, color 0.3s;
}

/* a */
.home-sidebar-item-a {
    text-decoration: none;
    color: inherit;
}

.home-sidebar-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) scale(0);
    width: 16px;
    height: 16px;
    background-image: var(--empty-ball);
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.home-sidebar-item:hover::before {
    opacity: 1;
    transform: translateY(-50%) scale(1);
}

.home-sidebar-item:hover {
    color: var(--contrast-color);
}

.home-sidebar-item-a:hover {
    text-decoration: underline;
}

.content {
    margin-top: 10vh;
    min-height: 100vh;
    text-align: left;
}

footer {
    padding-top: 20px;
    margin-top: 35vh;
}

.footer-line {
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 1vh;
    height: 0.5px;
    background-color: var(--lightest-text);
}

.footer-info p{
    color: var(--lightest-text);
}

.footer-info{
    margin-left: 8vw;
    text-align: left;
    font-size: 12px;
    color: var(--contrast-color);
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.footer-image {
    width: 35px;
    height: auto;
    margin-left: 8vw;
}

.footer-text {
    text-align: right;
    display: flex;
    flex-direction: column;
    margin-right: 8vw;
    font-size: 10px;
    color: var(--lightest-text);
}

.footer-text .year,
.footer-text .name {
    display: block;
}

.footer-text .name {
    font-weight: bold;
}

.info-item {
    display: flex;
    align-items: center;
}

.info-icon_1 {
    margin-right: 5px;
    width: 10px;
    height: 10px;
}

.info-icon_2 {
    margin-right: 5px;
    width: 10px;
    height: 10px;
}

.info-item p {
    margin: 0;
}

#bogota-weather {
    font-weight: bold;
}


/* --------------------- */
/* newhere.html*/

.stickysidebar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8vw;
}

/* ul */
.stickysidebar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* li */
.stickysidebar-list-item {
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    color: rgb(144, 144, 144);
    transition: background-color 0.3s, color 0.3s;
}

.stickysidebar-list-item a{
    color: inherit;
    text-decoration: none;
}

.stickysidebar-list-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) scale(0);
    width: 16px;
    height: 16px;
    background-image: var(--empty-ball);
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.stickysidebar-list-item:hover::before {
    opacity: 1;
    transform: translateY(-50%) scale(1);
}

.stickysidebar-list-item:hover {
     color: var(--contrast-color)
}

.stickysidebar-list-item a:hover {
    text-decoration: underline;
     color: var(--contrast-color);
}

.stickysidebar-list-item a.active {
    font-weight: bold;
    color: var(--contrast-color);
}

.stickysidebar ul li a.active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: var(--ball) center center;
    background-size: cover;
    transition: opacity 0.4s ease;
    opacity: 1;
}

.stickysidebar ul li a.active:hover::before {
     opacity: 0;
}


.page-content {
    margin-right: 8vw;
    margin-left: 30vw;
    padding-top: 8vh;
    padding-bottom: 20px;
}

.page-content img {
    display: block; 
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8vh;
    margin-top: 8vh;
}


.page-title {
    font-size: 50px;
    margin: 0;
    color: var(--contrast-color);
}

.subhome-description {
    color: #9B9B9B;
    margin-bottom: 15vh;

}

.subtitle {
    font-family: 'GeistMono', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--contrast-color);
     text-align: left;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 10vh;
}

.content-header img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
    width: 80px;
}

.page-icon {
    max-width: 100% !important;
    height: auto !important;
    display: block !important;
    margin-bottom: 20px !important;
    width: 80px !important;
}



/*

@font-face {
    font-family: 'GeistMono';
    src: url(_pages\geist_font\GeistMono-SemiBold.woff2) format('woff2');
    src: url(_pages\geist_font\GeistMono-SemiBold.woff) format('woff');
    font-weight: semibold;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url(_pages\geist_font\GeistMono-Thin.woff2) format('woff2');
    src: url(_pages\geist_font\GeistMono-Thin.woff) format('woff');
    font-weight: thin;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url(_pages\geist_font\GeistMono-UltraBlack.woff2) format('woff2');
    src: url(_pages\geist_font\GeistMono-UltraBlack.woff) format('woff');
    font-weight: ultrablack;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url(_pages\geist_font\GeistMono-UltraLight.woff2) format('woff2');
    src: url(_pages\geist_font\GeistMono-UltraLight.woff) format('woff');
    font-weight: ultralight;
    font-style: normal;
} */



/* .latest-page{

} */


/* --------------------- */
/*hub-pages*/

.post-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.post-list-item {
    padding-left: 0px;
    margin-bottom: 10px;
    background-color: white;
    color: rgb(144, 144, 144);
}

.latest-post{
    margin-bottom: 15vh;
}

.latest-post-title {
    text-decoration: none;
    font-weight: bold;
    color: var(--contrast-color);
    transition: color 0.3s ease;
}

.latest-post:hover .latest-post-title {
    color: var(--main-accent);
}

.latest-post-p {
    margin-top: 1vh;
    margin-bottom: 3vh;
    font-family: 'GeistMono', sans-serif;
    font-weight: 300;
    color: #bcbcbc;
    font-size: 12px;
    text-transform: uppercase;
    transition: color 0.3s ease;  
}

.latest-post-time{
    display: block;
    color: var(--contrast-color);
    transition: color 0.3s ease;
    margin-bottom: 3vh;
}

.latest-post:hover p {
    color: var(--contrast-color);
}

.latest-post:hover .latest-post-time {
    color: var(--secondary-accent);
}

.latest-post-read-more {
    text-decoration: none;
    color: var(--contrast-color);
    font-weight: bold;
    transition: color 0.3s ease;
}

.latest-post-read-more a{
    text-decoration: underline;
    color: #bcbcbc;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 14px;
}

.latest-post:hover .latest-post-read-more a {
    color: var(--contrast-color);
}

.section-tags{
    margin-bottom: 15vh;
}

.internal-link {
    color: #9b9b9b;
    transition: color 0.3s ease;
}

.internal-link:hover {
    color: var(--main-accent);
}

.muted{
    color: #bcbcbc
}

.posts li {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.posts-ul {
    padding: 0;
}

.all-post-item{
    transition: color 0.3s ease;
}

.all-post-item-title {
    text-decoration: none;
    list-style: none;
    color: #9b9b9b;
    transition: color 0.3s ease;
}

.all-post-time{
    padding-left: 1rem;
    white-space: nowrap;
    font-variant-numeric: tabular-nums;
    color: #9b9b9b;
    transition: color 0.3s ease;
}

.all-post-item-title:hover {
    color: var(--main-accent);
    text-decoration: underline;
}

.all-post-item:hover .all-post-time{
    color: var(--secondary-accent);
}

.all-post-item:hover .all-post-item-title{
    color: var(--main-accent);
}

#theme-toggle {
    position: fixed;  
    bottom: 0vh;  
    left: 0vw; 
    z-index: 1000;  
    padding: 10px 20px 10px 20px;  
    cursor: pointer;  
    background-color: transparent;
    color: var(--text-color);
    border: none; 
    font-family: 'GeistMono', sans-serif;  
    font-size: 10px; 
    text-decoration: underline;
    text-transform: uppercase; 
    overflow: hidden; 
    background-image: var(--ball); 
    background-size: 5px 5px;
    background-repeat: no-repeat; 
    background-position: 10px center; 
    border-radius: 5px; 
}

#theme-toggle:hover {
    color: var(main-accent);
}

.contact{
    font-family: 'GeistMono', sans-serif;  
    font-weight: 500;
    font-size: 14px;
    text-transform: lowercase;
    color: var(--contrast-color);
     text-align: left;
    margin-top: 0;
    margin-bottom: 2vh;
}


/* POST PAGE */


.breadcrumbs{
    font-family: 'GeistMono', sans-serif;  
    font-weight: 500;
    font-size: 12px;
    color: var(--lightest-text);
    text-transform: uppercase;
    text-align: left;
    margin-top: 0;
    margin-bottom: 10vh;
}

.breadcrumbs a{
    color: var(--lightest-text);
}

.breadcrumbs a:hover {
    color: var(--main-accent);
  }

.footnote{
    font-family: 'GeistMono', sans-serif;  
    font-weight: 300;
    font-size: 14px;
    color: var(--main-accent);
    transition: text-decoration 0.3s, background-color 0.3s, color 0.3s;
    text-decoration: none;
    padding-left: 2px;
}

.footnote:hover{
    color: var(--secondary-accent);
    text-decoration: underline;
}

.reversefootnote{
    font-weight: 400;
    font-size: 14px;
    color: var(--main-accent);
    text-decoration: none;
    transition: text-decoration 0.3s, background-color 0.3s, color 0.3s;
}

.reversefootnote:hover{
    color: var(--secondary-accent);
    text-decoration: underline;
}

.meta{
    margin-top: 12vh;
    margin-bottom: 0vh;
    display: block;
    align-items: right;
}

.date-post{
    color: var(--lightest-text);
}

.tags-holder{
    color: #9b9b9b;
    align-items: right;
}


h1 {
    font-size: 50px;
    margin: 0;
    color: var(--contrast-color);
}

h2 {
    font-size: 30px;
    font-weight: 400;
    font-family: 'GeistMono', sans-serif;
    text-transform: uppercase;
    margin-top: 12vh;
    color: var(--contrast-color);
}

h3 {
    font-size: 25px;
    font-family: 'GeistMono', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 8vh;
    color: var(--contrast-color);
}

h4 {
    font-size: 20px;
    font-weight: 300;
    font-family: 'GeistMono', sans-serif;
    text-transform: uppercase;
    margin-top: 8vh;
    color: var(--contrast-color);
}

h5 {
    font-size: 16px;
    font-weight: 300;
    font-family: 'GeistMono', sans-serif;
    text-transform: uppercase;
    margin-top: 8vh;
    color: var(--contrast-color);
}

h6 {
    font-size: 14px;
    font-weight: 300;
    font-family: 'GeistMono', sans-serif;
    text-transform: uppercase;
    margin-top: 8vh;
    color: var(--contrast-color);
}


code {
    color: var(--contrast-color);
    display: block; 
    max-width: 100%; 
    overflow-x: auto; 
    white-space: pre-wrap; 
    word-wrap: break-word; 
}



/* --------------------- */
/* Mobile */
/* FUCKING HELLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL */



@media (max-width: 600px) {

    body {
        background-color: var(--background-color);
    }

    .gif-home {
        max-width: 100%;
        max-height: 80vh;
        height: auto;
        display: block;
        margin-left: auto;    
        margin-right: auto;  
        margin-top: 35vh;
        margin-bottom: 0;  
    }

    .home-sidebar-item::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%) scale(0);
        width: 12px;
        height: 12px;
        background-image: var(--empty-ball);
        background-size: cover;
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .home-sidebar-item {
        position: relative;
        padding-left: 20px;
        margin-bottom: 10px;
        color: rgb(144, 144, 144);
        transition: background-color 0.3s, color 0.3s;
    }

    .stickysidebar {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 1vw;
    }
    
    /* ul */
    .stickysidebar-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    /* li */
    .stickysidebar-list-item {
        font-size: 8px;
        position: relative;
        padding-left: 12px;
        margin-bottom: 0.5vh;
        color: rgb(144, 144, 144);
        transition: background-color 0.3s, color 0.3s;
    }
    
    .stickysidebar-list-item a{
        color: inherit;
        text-decoration: none;
    }
    
    .stickysidebar-list-item::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%) scale(0);
        width: 8px;
        height: 8px;
        background-image: var(--empty-ball);
        background-size: cover;
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
    
    .stickysidebar-list-item:hover::before {
        opacity: 1;
        transform: translateY(-50%) scale(1);
    }
    
    .stickysidebar-list-item:hover {
         color: var(--contrast-color)
    }
    
    .stickysidebar-list-item a:hover {
        text-decoration: underline;
         color: var(--contrast-color);
    }
    
    .stickysidebar-list-item a.active {
        font-weight: bold;
        color: var(--contrast-color);
    }
    
    .stickysidebar ul li a.active::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 8px;
        height: 8px;
        background: var(--ball) center center;
        background-size: cover;
        transition: opacity 0.4s ease;
        opacity: 1;
    }
    
    .stickysidebar ul li a.active:hover::before {
         opacity: 0;
    }

    .content {
        margin-top: 10vh;
        min-height: 100vh;
        text-align: left;
    }

    .content-header img{
        max-width: 100%;
        height: auto;
        display: block;
        margin-top: 0;
        margin-bottom: 20px;
        margin-right: 0;
        margin-left: 0;
        width: 80px;
    }

    .page-icon {
        max-width: 60% !important;
        height: auto !important;
        display: block !important;
        margin-bottom: 20px !important;
        width: 40px !important;
    }

    .content-header {
        display: flex;
        justify-content: space-between;
        align-items: top;
        margin-bottom: 5vh;
    }

    .page-title {
        font-size: 25px;
        margin: 0;
        color: var(--contrast-color);
    }

    .latest-post{
        margin-bottom: 5vh;
    }

    p{
        font-size: 12px;
    }

    .subhome-description {
        color: #9B9B9B;
        margin-bottom: 5vh;
    }

    .subtitle {
        font-family: 'GeistMono', sans-serif;
        font-weight: 500;
        font-size: 12px;
        color: var(--contrast-color);
        text-align: left;
        margin-top: 5vh;
        margin-bottom: 1vh;
    }

    .section-tags{
        margin-bottom: 5vh;
    }

    .latest-post-title {
        font-size: 12px;
        text-decoration: none;
        font-weight: bold;
        color: var(--contrast-color);
        transition: color 0.3s ease;
        line-height: 0px;
    }

    .latest-post-time{
        font-size: 12px;
        display: block;
        color: var(--contrast-color);
        transition: color 0.3s ease;
        margin-bottom: 1vh;
    }

    .latest-post-p {
        margin-top: 1vh;
        margin-bottom: 1vh;
        font-family: 'GeistMono', sans-serif;
        font-weight: 300;
        color: #bcbcbc;
        font-size: 8px;
        text-transform: uppercase;
        transition: color 0.3s ease;  
    }

    .latest-post-read-more a{
        text-decoration: underline;
        color: #bcbcbc;
        font-weight: bold;
        transition: color 0.3s ease;
        font-size: 12px;
    }
    
    .internal-link {
        color: #9b9b9b;
        transition: color 0.3s ease;
        font-size: 12px;
    }
    
    .muted{
        color: #bcbcbc;
        font-size: 12px;
    }

    .posts li {
        align-items: flex-start;
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }

    .all-post-item-title {
        font-size: 12px;
        text-decoration: none;
        list-style: none;
        color: #9b9b9b;
        transition: color 0.3s ease;
    }
    
    .all-post-time{
        align-self: flex-start;
        font-size: 12px;
        padding-left: 1rem;
        white-space: nowrap;
        font-variant-numeric: tabular-nums;
        color: #9b9b9b;
        transition: color 0.3s ease;
    }
    
    .page-content img {
      width: 100%;
      height: auto;
    }

    h1 {
        font-size: 25px;
        margin: 0;
        color: var(--contrast-color);
    }
    
    h2 {
        font-size: 18px;
        font-weight: 400;
        font-family: 'GeistMono', sans-serif;
        text-transform: uppercase;
        margin-top: 8vh;
        color: var(--contrast-color);
    }
    
    h3 {
        font-size: 16px;
        font-family: 'GeistMono', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        margin-top: 5vh;
        color: var(--contrast-color);
    }
    
    h4 {
        font-size: 14px;
        font-weight: 300;
        font-family: 'GeistMono', sans-serif;
        text-transform: uppercase;
        margin-top: 5vh;
        color: var(--contrast-color);
    }
    
    h5 {
        font-size: 12px;
        font-weight: 300;
        font-family: 'GeistMono', sans-serif;
        text-transform: uppercase;
        margin-top: 5vh;
        color: var(--contrast-color);
    }
    
    h6 {
        font-size: 10px;
        font-weight: 300;
        font-family: 'GeistMono', sans-serif;
        text-transform: uppercase;
        margin-top: 5vh;
        color: var(--contrast-color);
    }

    li {
        font-size: 12px;
    }
    
}
  