{%- assign editorial_collection_value = include.value | default: include.editorial_collection | default: include.collection -%}
{%- assign editorial_collection_value = editorial_collection_value | strip -%}
{%- if editorial_collection_value and editorial_collection_value != "" and editorial_collection_value != "/" -%}
  {%- assign editorial_collection_slug = editorial_collection_value | slugify -%}
  <a
    class="{{ include.class | default: 'collection-link' }}"
    href="{{ '/collections/' | append: editorial_collection_slug | append: '/' | relative_url }}">
    {{ editorial_collection_value }}
  </a>
{%- endif -%}
