<footer>
    <div class="footer-line"></div> <!-- Line at the top of the footer -->
    <div class="footer-info">
        <div class="info-item">
            <img src="emptyblackball.svg" alt="Icon" class="info-icon_2">
            <p>4°36'17.8"N 74°03'16.9"W</p>
        </div>
        <div class="info-item">
            <img src="blackball.svg" alt="Icon" class="info-icon_2">
            <p id="bogota-weather">Bogotá --°C, --:--</p>
        </div> 
    </div>
    <div class="footer-bottom">
        <img src="poslogo.svg" alt="Pattern" class="footer-image">
        <div class="footer-text">
            <span class="year">mmxxiv</span>
            <span class="name">ThomasPrada.</span>
        </div>
    </div>
</footer>