<nav class="stickysidebar">
    <ul class="stickysidebar-list">
        <li class="stickysidebar-list-item"><a href="/">[&nbsp;&nbsp;] Casa/Home</a></li>
        <li class="stickysidebar-list-item"><a href="/newhere.html">[&nbsp;&nbsp;] If you're new here</a></li>
        <li class="stickysidebar-list-item"><a href="/about.html">[&nbsp;&nbsp;] About</a></li>
        <li class="stickysidebar-list-item"><a href="/building.html">[&nbsp;&nbsp;] Building</a></li>
        <li class="stickysidebar-list-item"><a href="/writing.html">[&nbsp;&nbsp;] Writing</a></li>
        <li class="stickysidebar-list-item"><a href="/notes.html">[&nbsp;&nbsp;] Notes</a></li>
        <li class="stickysidebar-list-item"><a href="/misc.html">[&nbsp;&nbsp;] Misc</a></li>
        <li class="stickysidebar-list-item"><a href="/contact.html">[&nbsp;&nbsp;] Contact</a></li>
        <li class="stickysidebar-list-item"><a href="/cv.html">[&nbsp;&nbsp;] CV</a></li>
        <li class="stickysidebar-list-item"><a href="https://github.com/thomaspradae">[&nbsp;&nbsp;] GitHub</a></li>
        <li class="stickysidebar-list-item"><a href="https://twitter.com/thomas__prada">[&nbsp;&nbsp;] Twitter</a></li>
        <li class="stickysidebar-list-item"><a href="/rss.html">[&nbsp;&nbsp;] RSS</a></li>
    </ul>
</nav>

