<nav class="stickysidebar">
    <ul class="stickysidebar-list">
        <li class="stickysidebar-list-item"><a href="/">Casa/Home</a></li>
        <li class="stickysidebar-list-item"><a href="/newhere.html">If you're new here</a></li>
        <li class="stickysidebar-list-item"><a href="/about.html">About</a></li>
        <li class="stickysidebar-list-item"><a href="/building.html">Building</a></li>
        <li class="stickysidebar-list-item"><a href="/writing.html">Writing</a></li>
        <li class="stickysidebar-list-item"><a href="/notes.html">Notes</a></li>
        <li class="stickysidebar-list-item"><a href="/misc.html">Misc</a></li>
        <li class="stickysidebar-list-item"><a href="/contact.html">Contact</a></li>
        <li class="stickysidebar-list-item"><a href="/cv.html">CV</a></li>
        <li class="stickysidebar-list-item"><a href="https://github.com/thomaspradae">GitHub</a></li>
        <li class="stickysidebar-list-item"><a href="https://twitter.com/thomas__prada">Twitter</a></li>
        <li class="stickysidebar-list-item"><a href="/rss.html">RSS</a></li>
    </ul>
</nav>

