---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/assets/images/resources/favicon.png" type="image/png">

  <!-- Main stylesheet -->
  <link rel="stylesheet" href="/fugg2.css">

  <!-- GSAP + ScrollTrigger -->
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>

  <!-- Polyfill + MathJax -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script>
    window.MathJax = {
      options: {
        ignoreHtmlClass: 'no-mathjax'
      }
    };
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body class="layout-{{ page.layout }}">

  {% unless page.layout == "post" %}
  <div id="menu-overlay">
    {% include nav.html %}
    <div class="menu-content"></div>
  </div>

  <button id="menu-button" class="menu-button" onclick="toggleMenu()">[ MENU ]</button>
  {% endunless %}

  <main class="content">
    <div class="page-content">
      {{ content }}
    </div>
  </main>

  <footer>
    <div class="ascii-footer-wrapper no-mathjax">
<pre>{% raw %}
;&&&&&&&$+:                                                                 ..                                           ......::::::::::::::::::::::::::;+xxXXXXxxx+++++;;:....:;;;.                                                .X&& 
+&&&&&&&$+:                                                                                       ....                  .......::::;;:::::::::;;+++xxxXXX$$&&&&&$$XXxxxxx+++;:.   .;;:                                                 ;$& 
    .x&&&&&&&$+.       ...........    .                                                                 ...::...          ........:::::;;;;;;;:::::;+xX$&&&&&&&&&&&&&&$$$XXXXXXXxxx+++;::;::           .::::..                                .; 
  .+&&&&&&&&x:...::::::;;;;;;;;;;;;;:::.........                                                       ....:::::................:::;;;;;;++++;;;;;;;+xX$&&&&&&&&&&&&&$$$XXXXXXXXXXxxXXXXXx;:       .;+X$&&&&&$Xx+;:                              
;X&&&&&&&&X;.:;;;++++++++xxxxxxxxxxx++;;::::::....                                                     ...:..::::....  .  ........::;;+++++++++;;::;;++XX$&&&&&&&&&$$XXXXX$$$$XXx+;;:::::.     .:;x$&&&&&&&&&&&&&$X+:.                           
.:x$&&&&&&&&&x;:;++xxxxxxxXXX$$$$$$$$$$$XXxx+;;;;::...                                                      ............       . ..   ..::;;+++++++++;;;;;;;+++xxxXX$$$$$XXXxxXXXXx+;:.        ..:+xX&&&&&&&&&$XXX$$&&&&$Xx+::.                       
+X&&&&&&&$x;;++xxXXXXXXXXXX$$&&&&&&&&&&$$XXxx++;:::..                                                   ......:.........               ...::;;+xXXXXXxxxxx+++;;+;;++xxxXXxxxxxxxx+;:.      ..:;+xX$&&&&&&&&$x;:...:;+xX$&&$$X++;;::....                
;+++++;::;+xX$&&&$$XXXXXXX$$$&&$&$$$$XXxx+++;;:..     .                                      ........::......::...........     ........:::;;;++xxXXXX$$$$$XXxx+++;;++++xxxxxxxx++:.  .::::;;+xxX$$&&&&&&$x;.  .::.  .:+X$&&$$Xx++++++x++:     :;++;::: 
+X&&&&&&&&&&&&&&&&$$XX$$$$X$$$$XXXXxx+;;::.... ..::::::..                       ...:::......::::;;:;;:;;:::......  .....::::...:::::;;++++++++x+++xxX$$&&$$XXxxx+;;::::::;;;+;;;.   .:::;;;;;+xxXX$$XX+;.  :;++++;;:. .;xX$$$XXxxxxxxXX$Xx;::+X$&&&$$$ 
.+X&&&&&&&&&&&&&&$$$$$XXXXXXXXxx+;;:....::::;;;;;++;;;:..                       ...::;;;;;;;;;;+++;;;;;++;;;::::::::::::;;+++++++;+++xxxxxxxxx+;;;;+xxxXXxxxxxx+;:.         ..    .::::::::::::;;;;::  .:;+xxXXxx++++;. :+xXXXXxxxxxxxXX$$XxX$$$$&&&&& 
:;x$&&&&&&&&&&&&&&&&&&$$XXx+;:  .::::;;;;;;;;;;;:::..                       ...::;;++++++++++++xxxxxxxXXxx+++++++++++xxXX$$XXXXxxxXxxxxxxx+;:::::::::;;;;;;;::.   .:::::::...::;;;;;;;::....::...:;++xXXX$XXXxxXXXXx;. ;+xxx++++++++xXXXX$$$$$&&&&& 
 .;x$&&&&&&&&&&&&&&$$Xx+;:..:::::::::::::::...                            .....::;;;;;++++++xxxxxXX$$$$$XXXXxXXXXXX$$$$$$$$XxxXxxxxx+++;:.                    ..::;;++++++++++++;;;;::.....  .:;+xXXXXXXxxxxX$&&&X+: .:::........:;xXX$$$$Xxxxx+ 
    :;xX$&&&$$$$$XXXx+;;::::::::::;;;;;;::..                                        .:::;;:::;;;;+++xxXXXXXxxxXXXXXXXXXXXXXxxxx++++;;:.   .:;;;;;;::.    .........:;;++++++++++++++++;::...   .:;;++++++;++xX$&&&&$Xx+++;::::::.  .:+xxx+;:      
       .;+xxxx+++;::.....::;;;++++++++++;;:...                            ... .....                  .:;;+;;;;++++++++++++++++;;;::.   .:;;++++;;;:::..::........::::::;;++++++++xxxxx++;:.    ...::::::....:+X$&&&&&&&&$XX$$XXx+:    .. .:;+xXX 
          ....     .:::::.........:;;;;;;;:::..                          ....::::::::.......:::;;;:::.          .....       .....    :;+++x++;;;:::::::;;;;;::::::::::;;;;;+++xxxxxxXXXXx+;::.....::....      :+$&&&&&&&&&&&&&&$$Xxx++++xX&&&&&& 
       .:;+++++++++xxxxxx++;;;;;;;;;:;::::....                             ..::::::::::...::;;+++++;;;::.......      ..::::.:...   .:;;+++++;:::.:..::;;;;;;;;::::::;++++++++xxxxxxXX$$$Xx++;;;:::::::::.       ;X&&&&&&&$XxxX$&&&&&&&&$&&&&&&&& 
:+X&&&&&&$$XXX$$$$&$$XXxXXXxxxxx++;;::...                             .. .........::::;;;;;;;;;;::::;+++++;;::;;;;++++xx++;;:::;;;;;;::.....::::;;;;;;;;;;;;++++xx+++++xxxxxxXXXXXxx++;;;;;:::::::.        .:;+;;::.   .:+X$&&&&&$&&&&&Xx+ 
..::.    :+xX$&&&&&&&&&&&&&&&&&$$$XXX$$$$XXxx++;::..                                   .....::;;::::::;;:::::;+++xxx++;;;:;;;++xxxxxx+++++;;:::.......:::;;;;;;;;;;;;+++xxXXxxx+xxxxxxxxXXxx+;+;;;;;;;;;;;;::                        .::+xX$$Xx;.    
+++++++;::::;+++xX$&&&&&&&&&&&&&&&$$$$$$$$$XXx++;::.                                       ..:::::...::::::::::;;;;++++++;;::;;++xxxXXXXXXXx++;:..::.:::::::::;;;;;;;;;++xxXX$XXxxxxxxxxxxx+++;;;;;;+++++;;;;;:                            .:;:.       
$XXx++++++;;;+;++++xX$&&&&&&&$$X$$$$$$XXxxx++;;:..                                        ..::::::......:::::::;;;;;;;++++;;:;;++xxxXXX$$$$Xx++;;:::::::;;;;;;;+++++;+;+++xxXXXXxxxxxxxx++++;;;;;;;++xxx++++;+;                                        
&&$Xxxxxxxx+;;;;+++;++xX$$$$XXXXXXXXXxx+;;::...                                           ........     ....::;;;+;;;;+++++;;;;;;;;+xxXXXXXXx++;;;:::::::;+++++++++xxx+++++++++xxxxxx+x++;::::::::;;+xXXXxxxx++;                                        
&&&&&$&$&$$Xx+;;;++++;;;;;;++++xxxxx++;::.                                              .......    .  ....::;+xx++++++x+++++;;::::::;;++++++;;:::::::;++xxxxxx+++xxxxx+++++;;++++xx+++;:.  .:.....:;+xxxxxxxxx+                                        
&&&&&&&&&&&&$Xx+;;;++++::...::::::;;:::..                                              .......   ...:::::;;+xxxxxx++++x+++++;;::..   ..:::.... ....::+xxxxxxx+++++xxx++;++;::::;;;+;;:   .:;+++;:.   :;++xxxxX;                                        
&&&&&&&&&&&&&&&XXx++;;;;:::...........                                                         ...::::;;;;+++++++;;;;;;;;;;++;;:.                .:;++xxxxx+++++++++++;;;;:.     ...   .;+X$&&&&&&Xx+;+xXX$XXx:                                        
&&&&&&&&&&&&&&&&&Xxx+;;::::::...                                                                 ....:::::::::::::....:::;;;;;::.               .:;+++;;;;;;+++++++;;::::..   .......:;+X$&&&&&&&&&&&&&&&$$Xx+.                                        
&&&&&&&&&&&&&&&&&&$Xxx+;;;;;::..                                                                      ..               ..::....              .:;;+++;:.    .:;;;::...       .;+++++++xXX$&&&&&&&&&&&&&&&$XXx+:                                         
XX$$$$$$$&&&&&&&&&&&$XXxxx+;;:.                                                                            .....                          .::::;;;::.              .:.    .:+X$$$$$XXXXX$&&&&&&&&&&&&&&&$Xx++.                                         
;;+++++++++xX$&&&&&&&$$Xx++;:.                                                                 .....:..:::;++xxxx++;;::..              .........      .::;;;;:::+xXXXx+++++X$&&&&&&&&$XXX$$$&&&$X$&&&&&&&$x+:                                          
....::......:;+xxXX$$XXx+;:.                                    .....                 ..:::::::;;++++++xxxxX$&&&&&$$XXx+;;::..                      .:;;;+xXXX$&&&&&&&&&&&&&&&&&&&&&&&$XxxXX$$X;.  .:;+x+;:.                                           
        ..::::;:::..                   ................::::::::..             ..:;;+++++xxXX$$$$$$$$&&&&&&&&&&&$$Xx++;;::....        ...::;;:::;;++xX$&&&&&&&&&&&&&&&&&&&&&&&&&&&&XXX$&$+.                                                       
                                     ..:::::::::::::;;;;++++;;;:..           .::;+++xxXX$$&&&&&&&&&&&&&&&&&&&&&$$XXXxxxx+++;;::.::::;;;;;;;++++xxxxxX$&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&x.                                                        
                                   ..:::;;;;;;;;++++xxxxxxx++;::..          ..::;++++xX$$&&&&&&&&&&&&&$$$$$&&&&&&$$$$$XXXXxx++++++xxx+++;;;+xXXX$$XXX$&&&&&&&&&&&&&&&&&&$XxxX$&&&&&&&&x.                                                         
                            ...::::::;;;++xxxxxxxxXxxXXXXx+;;:::..          ..::::::;;+xXX$$$&&&&&&&&$$XXX$$$$$&&&&$$$$XXxxxxXXXXX$$XXxx+++xxX$$$$$XxXXXXxxx+++xxX$&&&$X++;...:+$&&$X;                                                           
                          ..::;;++;;;;;+++xxxXXXxXXxxxxxx+;:::.:...         ...........::;++xxX$&&$$$$XXXXXXXXXX$$$$$$XXxx+xxX$$&&$$$XXxxx++++xxXXxx++++;;::.::. .:+XXxx+:.     .:::.                                                            
                          ..::;;++++++++++++xxxxxxxxxx++;::.::.:.....         ....:::::::::::;;+xxxXXXXXXXxxxxxxXXXXXxx++;;;;+xX$$XXXXXXx++;:::;;;;;;;:::.  :;+++;:......                                                                        
                          ...:;;;+xxxx++;;;+++xxXXXxxx++;:;:::::......        ....::::;;;;;;;;;:::;;++xXXxxxxxx++++++;;::...::;+xxxXXX$Xx+;.  ..:::.......  .:;;+++;                                                                             
                        ....::::;;+xxx+++;;;++xxXXXXxx+;+;++;;;;;:::..       .....::::;;;;;;;;;;::...:;+++++++++;;:...:..     ..:;++xXXXx+;.  .:;;;;::..:;;::::;+++;                                                                             
                   ...:..:.::::::;+xxxxxx++++++xxx+++++;++xxxx++;;::...      ..::::::;;++++xxxxxxx++;:..::;+++;;::;;+++;;:....... .:+xxxxx+:. .;++++++++x$&&&&&&&X+.                                                                             
                ..:::::::::::::::;;;++xxxxxxxxxx+++;;:;;;++xx+++;:::...      ..::::;;;+xXX$&&&&&&&&$XX+;. ..:::;+xXXXx+;:.  .:::::.:;+xXXXXx;:  .:;+xX$$XX$&&&$X+:                                                                               
            ...::::;;+++;;:;;::;::;;;;+xxxXXXxx+++;;:::::::;;::::.......       ..:::::;+x$&&&&&&&&&&&&$X;   :+X$&&&$X+:      ...::;+xX$&&&&&&&&&&&&&&&&x:....                                                                                    
        .....:::;;;;++++++;;;;;;:;;;;;;++xXXXXx++;;::::::::;+++++;::::..          .::.   ::;+xX$&&&&&&&$x. .+$&&&&&X;. :+xXXX$$$&&&&&&$$&&&&&&&&&&&&&&X:                                                                                         
.....:::;;;+++++++x+++;;+;;++;;;;;;++xxxx+;;;:::.::;+xXXXx+;.. .....    .::+xX$$XXxxxx+;: .:+xX$&$X: .x$&$$x;  ;X&&&&&&&&&&&&&$+:.;x&&&&&&&&&&X;.                                                                                          
     ....::::;;;++++++++++xxxx+++++++;;::::::;;;;;;;:::;+++xx+;:  .;xX$$XXx++xxX$&&&&&&&&&&&&&&&&&$$$$&&X:  x&&&&&&&&&&&&&&&&&&&&&X;.      .:;++;:.                                                                                              
    .....:::;;;;;;;;;::::;+++++++;;:........    .:;;;;;;++xxXxxxX&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&x   .X&&&&&&&&&&&&&&$x+:.                                                                                                                
       ...........        ......  ..:;;+xxxXXx+:.  :;+xX&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&X:     +&&&&&&&&&x;.                                                                                                                      
                ..::;;;;;::....::;+xX$$&&&&&&&&&$+. ;x&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$+.         :;;;:.                                                                                                                          
       .....::;;;+++++;+++++xxxXX$&&&&&&&&&&&&&&&&$; ;X&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&$XxxX$$Xx+:                                                                                                                                            
  ......:::;;++++xx++++++xxX$$$&&&&&&&&&&&&&&&&&&&&&X+::;+x&&&&&&&&&&$$$$&&&&&&&&&&&$Xx+::.    ..                                                                                                                                                
   .....::::;;;;+;;;+++xxXXX$$$$&&&&&&&&&&&$$$&&&&&&&$x;    :+$&&&&$XX$&&&&&&&&&$$Xx;.                                                                                                                                                           
.....:::.:::::;;++xxXXXXXXXXXXXxx+;...:;+xxX$$$XX+.       .:::::+X$&&&&&$Xx+;.                                                                                                                                                             
         ............::;++++++++++;;:.  :+x$&&&&&&&$XXx+.              .:;+;;;::.                                                                                                                                                                
                     ..::::..        .:+X$&&&&&&&&$Xxx+;.                                                                                                                                                                                        
                               ....:;+X$$&$$XXXxx++;;;;;:                                                                                                                                                                                        
                ...::::::::;;+xxXXX$$$$$XXx;;;:;:::::;;;:                                                                                                                                                                                        
               .:;++xXXXXXX$$$&&&&&&&&&Xx+:::::;::::::;;;.                                                                                                                                                                                       
             .:;;+xX$&&&&&&&&&&&&&&&&&&$x+;:;;++++xxxxx+:                                                                                                                                                                                        
         ..::;+++xxXX$&&&&&&&&&&&&&&&&&&$XXxXXX$$$$$$X+:                                                                                                                                                                                         
...:::::;;;++xxxxxXXX$$&&&&&&&&&&&&&&&&&&&&$$$$$$$$x+:                                                                                                                                                                                           
::::;:;;;;;+++xxxxXXXXXXX$$$$$$$&&&&$$$&&&&&&&&&&&$$$$Xx;.                                                                                                                                                                                             
++xxxx++++++xxXXXX$$$$$$$$$$XXXXX$$XXXX$$$$$$$$$$$$$$X+:

{% endraw %}</pre>
    </div>
  


  </footer>

  <!-- GSAP scroll animation for .stickysidebar -->
  <script>
    gsap.registerPlugin(ScrollTrigger);

    if (window.innerWidth > 600) {
      console.log("Screen width is greater than 600px, animation active");
      gsap.to(".stickysidebar", {
        scrollTrigger: {
          trigger: ".footer-line",
          start: "top 100%",
          end: "bottom 10%",
          scrub: 1,
        },
        y: -500,
      });
    } else {
      console.log("Screen width is less than 600px, animation inactive");
    }
  </script>

  <!-- Your own scripts -->
  <script src="/mobilemenu.js"></script>
  <script src="/weather.js"></script>

  <!-- TOC builder (for posts) -->
  <!-- <script src="/assets/js/toc.js"></script> -->

  <!-- Footnotes -> margin sidenotes (for posts) -->
  <!-- <script src="/assets/js/sidenotes.js"></script> -->

</body>
</html>