---
layout: default
---

<section class="post-wrapper">
  <div class="post-header">
    <div class="post-meta-container">
      <div class="post-meta-container-left-side">
        <section class="breadcrumbs">
          {% case page.collection %}
            {% when 'building' %}
              <a href="/building.html">Building</a> > <a href="{{ page.url }}">{{ page.title }}</a>
            {% when 'writing' %}
              <a href="/writing.html">Writing</a> > <a href="{{ page.url }}">{{ page.title }}</a>
            {% when 'notes' %}
              <a href="/notes.html">Notes</a> > <a href="{{ page.url }}">{{ page.title }}</a>
            {% when 'misc' %}
              <a href="/misc.html">Misc</a> > <a href="{{ page.url }}">{{ page.title }}</a>
            {% else %}
              <a href="/">Home</a>
          {% endcase %}
        </section>
      </div>
  
      <div class="post-meta-container-right-side">
        <div class="meta">
          <div class="tags-holder">
            {% for tag in page.tags %}
              <a class="internal-link" href="/tag/{{ tag | replace: ' ', '-' }}">{{ tag }}</a>{% unless forloop.last %} /{% endunless %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  
    <div class="line contrast"></div>
  </div>
  <div id="main" class="post">
    <!-- LEFT TOC: JS will fill this based on h2/h3/h4 in .post-body -->
    <nav id="left-toc" class="left-toc" aria-label="Table of contents"></nav>

    <!-- MAIN ARTICLE COLUMN -->
    <article class="post-body">
      <h1 class="page-title">{{ page.title }}</h1>
    
      <div class="post-header">
        <div class="post-metadata-container">           
          <div class="post-metadata">
            <div class="meta">
              <div class="post-meta-date">
                <p class="title-post-meta-p">Published on</p>
                <time class="date-post" datetime="{{ page.date | date_to_xmlschema }}">
                  {{ page.date | date: "%B %-d, %Y" }}
                </time>
              </div>
      
              <p class="title-post-meta-p">Tags</p>
              <div class="tags-holder">
                {% for tag in page.tags %}
                  <a class="internal-link" href="/tag/{{ tag | replace: ' ', '-' }}">{{ tag }}</a>{% unless forloop.last %} /{% endunless %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      
        <div class="line contrast"></div>
      </div>

      {{ content }}
    </article>
  </div>
</section>
